<div class="homeContainer"  >
   <h1 class="homeHead">Hi {{ user.fname }}  {{ user.lname}},</h1>

    <p class="homePara">Your email id is {{ user.email }}</p>

    <p> Here is your dummy data from
        <a href="https://dummyjson.com/users" target="_blank">https://dummyjson.com/users</a>
    </p>

    <table>
        <thead>
            <th>Id</th> 
            
            <th>First Name</th> 
           
            <th>Last Name</th>
          
            <th>Email</th>
          
            <th>Phone Number</th>
           
        </thead>
        <tbody>
            <tr *ngFor="let data of userData">
                <td>{{ data.id }}</td>
                <td>{{ data.firstName}}</td>
                <td>{{ data.lastName }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
            </tr>
        </tbody>
    </table>

</div>