.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 400px;
}

/* styles.css */
.login-container,
.home-container {
    max-width: 400px;
    margin: 50px auto;
}

.loginclass
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

/* src/app/login/login.component.css */
.loginclass {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
}